/* 
do 575px
576-767px
768-991px
992-1199
>1200
*/


@media screen and (max-width: 575px) {

body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
}

header{

flex-direction: column;

}
.address {

	
}

.brand-logo {
flex-direction: column;
}

.navbar {

}

main {
	flex-direction: column;
}
.section1 {
	
}
.section2 {
	
	
}
.section3 {

}

}