/*
General
font-family: 'Noto Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

* {
	box-sizing: border-box;
}

body, header, main, footer {
	margin: 0;
	padding: 0;
	max-width: 100%;
	}

main {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	
}
h1, h2, h3, p, span {
	margin: 0;
	padding:0;
	font-weight: normal;
	
}

img {
	margin: 0;
	padding: 0;	
	
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #444141;
		display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	line-height: 1.7em;

}

/*links */

a:link
{
  color: #d6994f;
  text-decoration: none;
}

a:visited
{
  color: black;
}

a:hover
{
	color: black;
}

a:active
{
  color: black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

/*
Header
*/
header{

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
/*
-webkit-box-shadow: 0px 30px 8px -27px rgba(209,109,209,0.4);
-moz-box-shadow: 0px 30px 8px -27px rgba(209,109,209,0.4);
box-shadow: 0px 30px 8px -27px rgba(209,109,209,0.4);
*/
-webkit-box-shadow: inset 0px -2px 0px 0px rgba(150,150,150,1);
-moz-box-shadow: inset 0px -2px 0px 0px rgba(150,150,150,1);
box-shadow: inset 0px -2px 0px 0px rgba(150,150,150,1);

}


.header_main {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	overflow: hidden;
	align-content: center;

}

.brand-logo {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}

.logo {
	min-width: 190px;
	margin-right: 50px;
	margin-bottom: 10px;

}
.title {
	padding-left: 10px;
	
}

.title h1 {
	font-weight: bold;
	font-size: 30px;
}

.address {
	flex-basis: 100%;
	font-size: 0.8em;
	font-weight: 700;
	
	max-height: 100px;
	background-color: #ffffff;
}


.address_head {
	display: block;
	text-align: right;
	
}

.address_head li{
	font-weight: normal;
	color: #000;
  padding: 5px 5px 5px 35px;
  text-decoration: none;
}

.fa-facebook-square {
	font-size: 34px;
}

.fas {
	color: gray;
}

.address_head a {
  display: block;
  color: #000;
  padding: 5px;
  text-decoration: none;

}

.navbar {
	flex-basis: 100%;
	display: block;
	text-align: left;
	
	padding: 0;
	font-weight: 400;
	
}

.nav li{
	margin: 10px 35px 0px 5px;
}


/*Main*/
.main_page {

	
}


.section_main{
	margin-top: 12px;
	margin-bottom: 36px;
}

.main_header{

}

.invitation {
font-style: italic;
text-align: justify;
font-size: 18px;
margin-top: 36px;
	
}
.sign {
font-family: 'Courgette', cursive;
font-size: 18px;
text-align: right;
margin-top: 20px;
margin-bottom: 20px;
}

.main_title {
	color: #ED217C;
	
}

.section_desription_main {
	margin: 10px 0;
	font-weight: 800;
	text-align: justify;
}


.main_list{
	margin: 20px;
}
	

.main_list > li::before {

}
.main_list > li {
	display: block;
	font-weight: 400;

}

.gravida > a{
	color: #ED217C;
}
 
 .oferty{

 }

.all_others {
	margin: 10px 0;
}
.all_others > h2{
	color: #00AEEF;
	margin: 10px 0;
	
}

.all_offer {
display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rehabilitacja {
	flex-basis: 49%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 300px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

-webkit-box-shadow: inset 0px 1px 7px 0px rgba(150,150,150,1);
-moz-box-shadow: inset 0px 1px 7px 0px rgba(150,150,150,1);
box-shadow: inset 0px 1px 7px 0px rgba(150,150,150,1);

}

.about_desription {
	box-shadow: 0;
}
.first {
	margin-right: 5px;
}

.second{
margin-left: 5px;
}

.third {
margin-right: 5px;
}

.fourth {
	margin-left: 5px;
}

.reha_header {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: 80px;
}

.logosmall {
	margin-right: 30px;

}

.reha_title {

}

h2 {
	font-weight: 700;

}

 
.section_desription {
	flex-basis: 100%;
}



.section_desription_cert {
	flex-basis: 93.42%;

}
/*Footer*/
footer {
	text-align: center;
	font-size: 0.7em;
	margin-top: 30px;

	-webkit-box-shadow: inset 0px 30px 8px -27px rgba(150,150,150,1);
-moz-box-shadow: inset 0px 30px 8px -27px rgba(150,150,150,1);
box-shadow: inset 0px 30px 8px -27px rgba(150,150,150,1);
margin-top: 30px;
padding-top: 20px;
margin-bottom: 20px;
}

.address_footer li {
	padding: 0 5px;
  text-decoration: none;
}

/* about */

.welcome {
	min-height: 300px;
}

/* oferta */

.main-oferta {
	
}

.oferta_description {

}
