/*
General
*/

* {
	box-sizing: border-box;
}

body, header, main, nav, section, footer {
		margin: 0;
		padding: 0;
		max-width: 100%;
}

h1, h2, h3, p, span {
	margin: 0;
	padding:0;
}

img {
	margin: 0;
	padding: 0;	
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 24px;
	color: #444141;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

/*links */
a:link
{
   color: #d6994f;
   text-decoration: none;
}

a:visited
{
   color: #444141;
}

a:hover
{
   color: #444141;
}

a:active
{
   color: #444141;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

/*
Header
*/
header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.address {
	background-color: #efefef;
	flex-basis: 100%;
	overflow: hidden;
	font-size: 0.8em;
}

.brand-logo {
	flex-basis: 20%;
}
.logo {
	min-width: 190px;
}
.title {
	flex-basis: 35%;
	overflow: hidden;
}

.navbar {
	flex-basis: 45%;
	overflow: hidden;
	text-align: right;
	
}

/*Hero*/
.hero {
	background-color: #e5a39c;
	overflow: hidden;
	margin-bottom: -5px;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	height: auto;
}

/*Main*/
main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: hidden;

}
.section_first {
	background-color: #b3e59c;
	flex-basis: 33.33%;
	overflow: hidden;
	display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.logosmall {
	flex-basis: 20%;
}
.logopurple {
	min-width: 47px;
}
.section_desription {
	flex-basis: 35%;
	overflow: hidden;
}


.section2 {
	background-color: #ce4a4e;
	flex-basis: 33.33%;
	overflow: hidden;
}
.section3 {
	background-color: #49ce89;
	flex-basis: 33.33%;
	overflow: hidden;
}

/*Article*/
.section4 {
	background-color: #ff5bd6;
	overflow: hidden;
}

/*Footer*/
footer {
	text-align: center;
	background-color: #d36ee5;
	font-size: 0.5em;
}