/*
General
font-family: 'Open Sans', sans-serif;

*/

* {
	box-sizing: border-box;
}

body, header, main, footer {
	margin: 0;
	padding: 0;
	max-width: 100%;
	}

main {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	
}
h1, h2, h3, p, span {
	margin: 0;
	padding:0;
	font-weight: normal;
	
}

img {
	margin: 0;
	padding: 0;	
	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #444141;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	line-height: 1.7em;
}

/*links */

a:link
{
  color: #00AEEF;
  text-decoration: none;
}

a:visited
{
  color: #00AEEF;
}

a:hover
{
	color: #BD1A8D;
}

a:active
{
  color: #00AEEF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

/*
Header
*/

header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow:0px 1px 0px 1px #ffffff ,0px 2px 2px 0px #ced0ce ;
	-moz-box-shadow:0px 1px 0px 1px #ffffff ,0px 2px 2px 0px #ced0ce ;
	box-shadow:0px 1px 0px 1px #ffffff ,0px 2px 2px 0px #ced0ce ;
}

.header_main {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	overflow: hidden;
	align-content: center;

}

.brand-logo {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}

.logo {
	min-width: 190px;
	margin-right: 50px;
	margin-bottom: 10px;

}
.title {
	padding-left: 10px;
	
}

.title h1 {
	font-weight: bold;
	font-size: 30px;
}

.address {
	flex-basis: 100%;
	font-size: 0.8em;
	font-weight: 700;
	
	max-height: 100px;
	background-color: #ffffff;
}


.address_head {
	display: block;
	text-align: right;
	
}

.address_head li{
	font-weight: normal;
	color: #000;
  padding: 5px 5px 5px 35px;
  text-decoration: none;
}

.fa-facebook-square {
	font-size: 34px;
}

.fas {
	color: gray;
}

.address_head a {
  display: block;
  color: #000;
  padding: 5px;
  text-decoration: none;

}

.navbar {
	flex-basis: 100%;
	display: block;
	text-align: left;
	
	padding: 0;
	font-weight: 400;
	
}

.nav li{
	margin: 10px 35px 0px 5px;
}


header a:link
{
  color: #444141;
  text-decoration: none;
}

header a:visited
{
  color: #444141;
}

header a:hover
{
	color: #8CC63F;
}

header a:active
{
  color: #444141;
}





/*Main*/
.main_page {

	
}


.section_main{
	margin-top: 12px;
	margin-bottom: 36px;
}

.main_header{

}

.invitation {
font-style: italic;
text-align: justify;
font-size: 18px;
margin-top: 36px;
	
}
.sign {
font-family: 'Courgette', cursive;
font-size: 18px;
text-align: right;
margin-top: 20px;
margin-bottom: 20px;
}

.main_title {
	color: #ED217C;
}

.section_desription_main {
	margin: 10px 0;
	font-weight: 800;
	text-align: justify;
}


.description_list{
	margin: 20px;
}
	

.description_list > li::before {

}
.description_list > li {
	display: block;
	font-weight: 400;

}

.gravida > a{
	color: #ED217C;
}
 
.all_others {
	margin: 10px 0;
}
.all_others > h2{
	color: #00AEEF;
	margin: 10px 0;
	
}

.all_offer {
display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rehabilitacja {
	flex-basis: 49%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 300px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	
-webkit-box-shadow:0px 0px 0px 1px #ffffff ,0px 0px 10px 0px #ced0ce ;
-moz-box-shadow:0px 0px 0px 1px #ffffff ,0px 0px 10px 0px #ced0ce ;
box-shadow:0px 0px 0px 1px #ffffff ,0px 0px 10px 0px #ced0ce ;

}

.about_desription {
	box-shadow: 0;
}
.first {
	margin-right: 5px;
}

.second{
margin-left: 5px;
}

.third {
margin-right: 5px;
}

.fourth {
	margin-left: 5px;
}

.reha_header {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: 80px;
}

.logosmall {
	margin-right: 30px;

}

.reha_title {

}

h2 {
	font-weight: 700;

}

 
.section_desription {
	flex-basis: 100%;
}


.section_desription_cert {
	flex-basis: 93.42%;

}
.about_title > h2{
	margin-top: 20px;
}

.about_text{
	margin-bottom: 10px;
	margin-top: 10px;
}
/*Footer*/
footer {
	text-align: center;
	font-size: 0.7em;
margin-top: 30px;
padding-top: 20px;
margin-bottom: 20px;

-webkit-box-shadow:0px 0px 0px 1px #ffffff ,0px -1px 2px 0px #ced0ce ;
-moz-box-shadow:0px 0px 0px 1px #ffffff ,0px -1px 2px 0px #ced0ce ;
box-shadow:0px 0px 0px 1px #ffffff ,0px -1px 2px 0px #ced0ce ;
}

.address_footer li {

	padding: 0 10px;
  text-decoration: none;
  
}

/* about */

.welcome {
	min-height: 300px;
}

/* oferta */

.main-offer {
	
}

.offer_text {

}

.s_offer {
	margin-top: 20px;
}

/*
Oferta - Urologinekologiczna
*/
.offer-long{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}
.offer-long-text{
	margin-top: 20px;
	margin-bottom: 20px;
}

.back_to_link > a {
	font-size: 12px;
	color: #00AEF;
}
.description_list_title{
	font-weight: bold;
		text-align: justify;
	margin-bottom: 10px;
}

/*
kontakt*/
.contat_page{
	display: flex;
	flex-wrap: wrap;
}
.hours{
	width: 50%;
	margin-top: 20px;
}
.s_media{
	margin-top: 40px;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}
.znany_lekarz{
	width: 100%;
}
.fan-page{
	width: 100%;
}